# This workflow builds the docs and deploys them to GitHub Pages on every commit to the master branch
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build & Deploy Docs

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v2
    - name: "${{ matrix.toolchain }} with rustfmt, and wasm32"
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
    - run: cargo install witme --version 0.1.0
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - run: yarn install --frozen-lockfile
    - uses: sterlingwes/gh-pages-deploy-action@v1.1
      with:
        access-token: ${{ secrets.ACCESS_TOKEN }}
        source-directory: docs
        build-command: yarn docs
