name: Linkdrop
on: push
jobs:
  tests:
    strategy:
      matrix:
        set: ['"*/linkdrop/succ*"', "*/link*/fail*"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "stable with rustfmt, and wasm32"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v1
      - name: Add wasm32 target
        run: rustup target add wasm32-unknown-unknown
      - name: install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Run tests
        run: npm ci && npm run test:testnet ${{ matrix.set }}